* {
  margin: 0;
  padding: 0;
}
body {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.div-child-one {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100vh;
  background-color: salmon;
  border-right: 10px solid lightgreen;
}
.div-child-two {
  box-sizing: border-box;
  float: right;
  width: 50%;
  height: 100vh;
  background-color: lightgreen;
  border-left: 10px solid salmon;
}
